header {
  .nav {
    padding: 0;
    background-color: var(--bs-gray-900);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */

    // toggle button
    .toggle-rounded-btn {
      width: 30px;
      height: 30px;
      padding: 0;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
    }

    // logo
    .navbar-brand {
      display: inline-block;
      padding: 1.5rem 0;
      margin-right: 1.5rem;

    }

    .right-panel {
      display: flex;
      align-items: center;
      gap: 1rem;

      .navbar-toggler {
        border: none;
        padding: 0;
        outline: none;
        vertical-align: middle;
      }

      .navbar-nav {
        gap: 0.9375rem;

        .nav-item {
          padding: .5rem 0;

          .nav-link {
            padding: .75rem 0;
          }

        }

        .dropdown {
          .dropdown-menu[data-bs-popper] {
            animation: fade-in-bottom .3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          }
        }
      }

      .nav-pills {
        gap: 1rem;

        .nav-item {
          padding: 0;

          .nav-link {
            padding: 0.3rem 1rem;
            color: var(--bs-body-color);
            font-weight: 600;
            font-size: 0.875rem;
            border-radius: var(--bs-border-radius-pill);
            transition: all 0.3s ease-out 0s;
            background-color: var(--bs-body-bg);

            &:hover {
              color: var(--bs-white);
              background-color: var(--bs-secondary);
            }

            &.active {
              color: var(--bs-white);
              background-color: var(--bs-secondary);
            }
          }
        }
      }
    }
  }
}

header {
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    animation: slideDown 0.4s ease forwards;

    .header-top {
      display: none;
    }
  }
}


@keyframes fade-in-bottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@include media-breakpoint-down(md) {
  header {
    .right-panel {
      .header-search {
        .input-group {
          position: static;
          width: 100%;
          transform: none;
        }
      }

      .navbar-nav {
        gap: .5rem;
      }
    }

  }
}
// banner
.navbar,
.header-default {
  position: relative;
  z-index: 1070; /* Keep navbar above slick-banner */
}


/* Slide down keyframes */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  header {
    .nav {
      .navbar-brand {
        margin-right: .5rem;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  header {
    .nav {

      &.true-shine-nav {
        .right-panel {
          .navbar-nav {
            flex-direction: row;
          }
        }

        .navbar-nav {
          flex-direction: column;
        }
      }
    }
  }

  .true-shine-nav {
    .navbar-nav {
      flex-direction: row;
    }

    .navbar-collapse {
      &:not(.offcanvas-collapse) {
        position: absolute;
        top: 96%;
        left: 0;
        width: 100%;
        flex-grow: unset;
        background: var(--bs-gray-900);
        z-index: 1081;
        box-shadow: $box-shadow-sm;
        transition: all 400ms ease;

        .navbar-nav {
          flex-direction: row;
          float: right;
          align-items: center;

          li {
            padding: .5rem 1.5rem .0rem 0rem;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .right-panel {
    .navbar-collapse {
      .navbar-nav {
        li {
          position: static;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .true-shine-nav {
    .navbar-collapse:not(.offcanvas-collapse) {
      .navbar-nav {
        padding-right: 1rem;

        li {
          padding: 0.5rem 0 0 0;
        }
      }
    }
  }

  header {
    .nav {
      .select-branch {
        .branch-panel {
          padding: .5rem;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  header {
    .nav {
      .navbar-brand {
        img {
          height: auto;
          width: 5rem;
        }
      }

      .right-panel {
        gap: .8rem;
      }
    }
  }
}