<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ appName }} | Wedding Photography & Filmmaking Studio</title>
  <meta name="description"
    content="Marvel Creation specializes in wedding photography and cinematic films, capturing timeless memories with creativity and professionalism. Book us for your special day.">
  <meta name="keywords"
    content="wedding photography, wedding films, cinematic wedding, Marvel Creation, professional photographer, wedding videography, pre-wedding shoot, candid photography">
  <meta name="author" content="Marvel Creation, CreatiixDesign">
  {{> components/partials/head }}
  {{#block "head"}}
  {{/block}}
</head>

<body>
  {{> components/partials/header/header}}
  <div class="main-content">
    {{#block "content"}}
    {{/block}}
  </div>
  {{> components/partials/footer/footer}}

  <!-- footer end -->

  <!-- Back To Top -->
  {{> components/partials/back-to-top}}
  <!-- Back To Top -->

  {{> components/partials/script }}
  {{#block "scripts"}}
  {{/block}}
</body>

</html>