@media (max-width: 1600px) {
  .container-fluid {
    padding: 0 3.5rem;
  }
}

@media (max-width: 1400px) {
  .container-fluid {
    padding: 0 2rem;
  }
}

@include media-breakpoint-down(lg) {
  .container-fluid {
    padding: 0 1.5rem;
  }

  .sticky {
    position: static;
  }
}

@include media-breakpoint-down(md) {
  .container-fluid {
    padding: 0 1rem;
  }

  .section-spacing {
    padding: 3.125rem 0;
  }

  .section-spacing-top {
    padding: 3.125rem 0 0;
  }

  .section-spacing-bottom {
    padding: 0 0 3.125rem;
  }

  .section-spacing-inner-pages {
    padding: 3.125rem 0 3.125rem;
  }
}

.bg-gray-900 {
  background-color: var(--bs-gray-900);
}

.bg-gray-800 {
  background-color: var(--bs-gray-800);
}

.cursor-pointer {
  cursor: pointer;
}