.section-padding {
    padding: 5rem 0;
}

.section-padding-bottom {
    padding-bottom: 5rem;
}

.section-padding-top {
    padding-top: 5rem;
}

.section-bg {
    background-color: var(--bs-gray-900);
}

.section-title {
    margin-bottom: 2.5rem;

    .sub-title {
        font-size: 1.125rem;
    }
}

.decorator-font {
    font-family: Kalam, cursive;
}

.font-size-24 {
    font-size: 1.5rem;
}

.font-size-30 {
    font-size: 1.875rem;
}


.text-gray-400 {
    color: var(--bs-gray-400);
}

.video-wrapper {
    iframe {
        aspect-ratio: 16 / 5.1;
        border-radius: var(--bs-border-radius);
    }
}

// back to top

.top {
    bottom: 30px;
    right: 30px;
    line-height: 42px;
    border-radius: 50%;
    font-size: 26px;
    color: var(--bs-white);
    background-color: var(--bs-secondary);
    transition: all 0.3s ease-in-out;
    z-index: 9;

    &:hover {
        background-color: var(--bs-secondary);
        box-shadow: var(--bs-box-shadow);
    }
}

.lh-2 {
    line-height: 2 !important;
}

// scroll
/* width */
::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
    border-radius: 0.313em;
}


* {
    scrollbar-width: thin;
    scrollbar-color: var(--bs-secondary) transparent;
}

// end

// start animation
@keyframes bounce {

    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

.animate-bounce {
    animation: bounce 1s infinite
}

.animate-bounce-1 {
    animation: bounce 4s infinite
}

.animate-bounce-2 {
    animation: bounce 7s infinite
}

.animate-bounce-3 {
    animation: bounce 8s infinite
}

.animate-bounce-4 {
    animation: bounce 6s infinite
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite
}

@include media-breakpoint-down(md) {

    .section-padding {
        padding: 2rem 0;
    }

    .section-padding-top {
        padding-top: 2rem;
    }

    .section-padding-bottom {
        padding-bottom: 2rem;
    }


    .section-title {
        margin-bottom: 1.25rem;

        .sub-title {
            font-size: .875rem;
        }
    }

    .font-size-30 {
        font-size: 1rem;
    }

}