// work flow
.marvel-how-it-work {
    padding: 100px 16px 0 16px;

    .work-inner {
        padding: 60px 75px 90px;
    }
}

.marvel-work-section {
    margin-top: -60px;
    padding: 0px 16px 150px 16px;

    .marvel-work-contianer {
        padding: 0 65px;

        .marvel-work-inner {
            .process-style-step-1 {
                .step-content {
                    .step-number-inner {
                        border: 10px solid var(--bs-white);

                        .step-number {
                            height: 90px;
                            width: 90px;
                            line-height: 90px;
                            font-family: $font-family-sans-serif;
                        }
                    }
                }
            }
        }
    }
}

.marvel-work-section {
    margin-top: -60px;
    padding: 0px 16px 150px 16px;

    .marvel-work-contianer {
        padding: 0 65px;

        .marvel-work-inner {
            .process-style-step-1 {
                .step-content {
                    .step-number-inner {
                        border: 10px solid var(--bs-white);

                        .step-number {
                            height: 90px;
                            width: 90px;
                            line-height: 90px;
                            font-family: $font-family-sans-serif;
                        }
                    }
                }
            }
        }
    }
}

.image-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  flex-grow: 1;
  height: 100%;
  width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  justify-content: space-between;
  align-items: center;
  gap: 2em 2em;
  margin: 0px;
  padding: 0px;

  .image-box-1 {
    width: 100px;
    font-size: 9.375em;

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

.about-img {
    aspect-ratio: 2/1.6 ;
    object-fit: cover;
}

@include media-breakpoint-down(lg) {
  // work flow
  .marvel-how-it-work {
    padding: 70px 16px 0 16px;

    .work-inner {
      padding: 60px 30px 80px 30px;
    }
  }
  .marvel-work-section {
    padding: 0px 16px 70px 16px;
    .marvel-work-contianer {
      padding: 0 32px;
    }
  }
}
@include media-breakpoint-down(md) {
      // work flow
  .marvel-how-it-work {
    padding: 50px 16px 0 16px;
    .work-inner {
      padding: 30px;
    }
  }
  .marvel-work-section {
    padding: 0px 16px 50px 16px;
    .marvel-work-contianer {
      padding: 0;
    }
  }
}