/*!
* Version: 1.0.0
* Template: Chat Boat AI
* Author: Creatixdesign
* Design and Developed by: Creatixdesign
* NOTE: This file contains the styling for Template.
*
*/
:focus {
  outline: none;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-heading-font-family);
}

h1 {
  font-size: var(--bs-heading-1, 4.5rem);
}

h2 {
  font-size: var(--bs-heading-2, 3rem);
}

h3 {
  font-size: var(--bs-heading-3, 1.25rem);
}

h4 {
  font-size: var(--bs-heading-4, 1.125rem);
}

h5 {
  font-size: var(--bs-heading-5, 1.333rem);
}

h6 {
  font-size: var(--bs-heading-6, 1rem);
}

a {
  -webkit-transition: color 400ms ease, background 400ms ease;
  -o-transition: color 400ms ease, background 400ms ease;
  transition: color 400ms ease, background 400ms ease;
  color: var(--bs-primary);
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

img {
  max-width: 100%;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
  }
}
:root {
  --prefix: bs-;
  --bs-heading-font-family: Inter, sans-serif, Liberation Mono, Courier New, monospace;
}
@media (max-width: 767px) {
  :root {
    --bs-heading-1: 3.809rem;
    --bs-heading-2: 2.5rem;
    --bs-heading-3: 1.875rem;
    --bs-heading-4: 1.25rem;
  }
}

.container {
  max-width: 1280px;
}

::-moz-selection {
  color: var(--bs-white);
  background: var(--bs-primary);
}

::selection {
  color: var(--bs-white);
  background: var(--bs-primary);
}

/*
 * Background color 
 */
.bg-soft-primary {
  color: rgb(33.3, 89.1, 211.5);
  background-color: rgba(37, 99, 235, 0.1) !important;
}

.bg-soft-secondary {
  color: rgb(132.3, 45.9, 210.6);
  background-color: rgba(147, 51, 234, 0.1) !important;
}

.bg-soft-success {
  color: rgb(30.6, 177.3, 84.6);
  background-color: rgba(34, 197, 94, 0.1) !important;
}

.bg-soft-info {
  color: rgb(7.2, 130.5, 160.2);
  background-color: rgba(8, 145, 178, 0.1) !important;
}

.bg-soft-warning {
  color: rgb(229.5, 194.4, 25.2);
  background-color: rgba(255, 216, 28, 0.1) !important;
}

.bg-soft-danger {
  color: rgb(198, 34.2, 34.2);
  background-color: rgba(220, 38, 38, 0.1) !important;
}

.bg-soft-light {
  color: rgb(96.3, 102.6, 115.2);
  background-color: rgba(107, 114, 128, 0.1) !important;
}

.bg-soft-dark {
  color: black;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.avatar {
  position: relative;
}

.avatar-8 {
  height: 0.5rem;
  width: 0.5rem;
  min-width: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-24 {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-30 {
  height: 1.875rem;
  width: 1.875rem;
  min-width: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-40 {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-45 {
  height: 2.8125rem;
  width: 2.8125rem;
  min-width: 2.8125rem;
  text-align: center;
  line-height: 2.8125rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-48 {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  text-align: center;
  line-height: 3rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-50 {
  height: 3.125rem;
  width: 3.125rem;
  min-width: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-55 {
  height: 3.4375rem;
  width: 3.4375rem;
  min-width: 3.4375rem;
  text-align: center;
  line-height: 3.4375rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-60 {
  height: 3.75rem;
  width: 3.75rem;
  min-width: 3.75rem;
  text-align: center;
  line-height: 3.75rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-64 {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  text-align: center;
  line-height: 4rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-70 {
  height: 4.375rem;
  width: 4.375rem;
  min-width: 4.375rem;
  text-align: center;
  line-height: 4.375rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-80 {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  text-align: center;
  line-height: 5rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-90 {
  height: 5.625rem;
  width: 5.625rem;
  min-width: 5.625rem;
  text-align: center;
  line-height: 5.625rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-100 {
  height: 6.25rem;
  width: 6.25rem;
  min-width: 6.25rem;
  text-align: center;
  line-height: 6.25rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-110 {
  height: 6.875rem;
  width: 6.875rem;
  min-width: 6.875rem;
  text-align: center;
  line-height: 6.875rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-120 {
  height: 7.5rem;
  width: 7.5rem;
  min-width: 7.5rem;
  text-align: center;
  line-height: 7.5rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-130 {
  height: 8.125rem;
  width: 8.125rem;
  min-width: 8.125rem;
  text-align: center;
  line-height: 8.125rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-140 {
  height: 8.75rem;
  width: 8.75rem;
  min-width: 8.75rem;
  text-align: center;
  line-height: 8.75rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-150 {
  height: 9.375rem;
  width: 9.375rem;
  min-width: 9.375rem;
  text-align: center;
  line-height: 9.375rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-180 {
  height: 11.25rem;
  width: 11.25rem;
  min-width: 11.25rem;
  text-align: center;
  line-height: 11.25rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-270 {
  height: 16.875rem;
  width: 16.875rem;
  min-width: 16.875rem;
  text-align: center;
  line-height: 16.875rem;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
}

.avatar-status {
  position: absolute;
  bottom: -4px;
  top: auto;
  left: auto;
  right: 4px;
}
.avatar-status i {
  font-size: 12px;
}

.avatar-borderd {
  border: 1px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-borderd-1 {
  border: 1px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-borderd-2 {
  border: 2px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-borderd-3 {
  border: 3px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-borderd-4 {
  border: 4px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-borderd-5 {
  border: 5px solid;
  border-color: rgba(37, 99, 235, 0.2);
}

.avatar-rounded {
  -webkit-border-radius: 50em;
          border-radius: 50em;
  overflow: hidden;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-padding {
  padding: 5rem 0;
}

.section-bg {
  background-color: var(--bs-gray-900);
}

.section-title {
  margin-bottom: 4rem;
}
.section-title .sub-title {
  font-size: 1.125rem;
}

.big-title {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), color-stop(100%, var(--bs-gray-600)), color-stop(50%, var(--bs-gray-600)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  background-image: -o-linear-gradient(left, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  background-image: linear-gradient(to right, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font-size-24 {
  font-size: 1.5rem;
}

.font-size-30 {
  font-size: 1.875rem;
}

.text-gray-400 {
  color: var(--bs-gray-400);
}

.opacity-6 {
  opacity: 0.6;
}

.heading-icon-bg {
  background-color: var(--bs-heading-color);
}

.primary-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#3b82f6), to(var(--bs-primary)));
  background-image: -webkit-linear-gradient(left, #3b82f6, var(--bs-primary));
  background-image: -o-linear-gradient(left, #3b82f6, var(--bs-primary));
  background-image: linear-gradient(to right, #3b82f6, var(--bs-primary));
}

.secondary-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#a855f7), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, #a855f7, var(--bs-secondary));
  background-image: -o-linear-gradient(left, #a855f7, var(--bs-secondary));
  background-image: linear-gradient(to right, #a855f7, var(--bs-secondary));
}

.success-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-success)), to(#16a34a));
  background-image: -webkit-linear-gradient(left, var(--bs-success), #16a34a);
  background-image: -o-linear-gradient(left, var(--bs-success), #16a34a);
  background-image: linear-gradient(to right, var(--bs-success), #16a34a);
}

.orange-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-orange)), to(#ea580c));
  background-image: -webkit-linear-gradient(left, var(--bs-orange), #ea580c);
  background-image: -o-linear-gradient(left, var(--bs-orange), #ea580c);
  background-image: linear-gradient(to right, var(--bs-orange), #ea580c);
}

.pink-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#ec4899), to(var(--bs-pink)));
  background-image: -webkit-linear-gradient(left, #ec4899, var(--bs-pink));
  background-image: -o-linear-gradient(left, #ec4899, var(--bs-pink));
  background-image: linear-gradient(to right, #ec4899, var(--bs-pink));
}

.indigo-icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#6366f1), to(var(--bs-indigo)));
  background-image: -webkit-linear-gradient(left, #6366f1, var(--bs-indigo));
  background-image: -o-linear-gradient(left, #6366f1, var(--bs-indigo));
  background-image: linear-gradient(to right, #6366f1, var(--bs-indigo));
}

.icon-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: -o-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
}

.animate-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-secondary)), to(var(--bs-pink)));
  background-image: -webkit-linear-gradient(left, var(--bs-secondary), var(--bs-pink));
  background-image: -o-linear-gradient(left, var(--bs-secondary), var(--bs-pink));
  background-image: linear-gradient(to right, var(--bs-secondary), var(--bs-pink));
}

.btn.btn-primary {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: -o-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
  padding: 0.75rem 1.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
}
.btn.btn-primary:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-secondary)), to(var(--bs-primary)));
  background-image: -webkit-linear-gradient(left, var(--bs-secondary), var(--bs-primary));
  background-image: -o-linear-gradient(left, var(--bs-secondary), var(--bs-primary));
  background-image: linear-gradient(to right, var(--bs-secondary), var(--bs-primary));
}
.btn.btn-outline-primary:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: -o-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
}

.top {
  bottom: 30px;
  right: 30px;
  line-height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 26px;
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.top:hover {
  background-color: var(--bs-indigo);
  -webkit-box-shadow: var(--bs-box-shadow);
          box-shadow: var(--bs-box-shadow);
}

.lh-2 {
  line-height: 2 !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
  -webkit-border-radius: 0.313em;
          border-radius: 0.313em;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-secondary) transparent;
}

@-webkit-keyframes bounce {
  0%, to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce {
  0%, to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.animate-bounce-1 {
  -webkit-animation: bounce 4s infinite;
          animation: bounce 4s infinite;
}

.animate-bounce-2 {
  -webkit-animation: bounce 7s infinite;
          animation: bounce 7s infinite;
}

.animate-bounce-3 {
  -webkit-animation: bounce 8s infinite;
          animation: bounce 8s infinite;
}

.animate-bounce-4 {
  -webkit-animation: bounce 6s infinite;
          animation: bounce 6s infinite;
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (max-width: 767.98px) {
  .section-padding {
    padding: 2.5rem 0;
  }
  .section-title {
    margin-bottom: 1rem;
  }
  .section-title .sub-title {
    font-size: 0.875rem;
  }
  .font-size-30 {
    font-size: 1rem;
  }
}
.service-card {
  -webkit-border-radius: 0.75rem;
          border-radius: 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-card:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.service-card:hover .service-icon {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.service-card .service-icon {
  font-size: 2rem;
  -webkit-border-radius: 0.75rem;
          border-radius: 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-card .service-icon i {
  color: var(--bs-white);
}

.how-work-card {
  gap: 2rem 5rem;
  margin-bottom: 4rem;
}
.how-work-card .step-number {
  font-size: 3.75rem;
}
.how-work-card .how-work-icon {
  font-size: 1.5rem;
  color: var(--bs-white);
  line-height: 2;
}
.how-work-card .how-work-img {
  aspect-ratio: 3/1.69;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

.object-top {
  top: -1rem;
  right: 1rem;
}

.object-bottom {
  bottom: -1rem;
  left: 1rem;
}

@media (max-width: 991.98px) {
  .how-work-card {
    gap: 2rem 2.5rem;
    margin-bottom: 2rem;
  }
  .how-work-card .step-number {
    font-size: 1.875rem;
  }
}
@media (max-width: 767.98px) {
  .step-number {
    font-size: 1em;
  }
}
.blog-card {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-card:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.blog-card:hover .blog-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.blog-card .blog-image {
  display: inline-block;
  aspect-ratio: 4/2.2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-border-radius: 0.75rem 0.75rem 0 0;
          border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-card .blog-icon {
  position: absolute;
  top: 1rem;
  left: auto;
  right: 1rem;
  font-size: 1.125rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  z-index: 9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-card .blog-icon i {
  color: var(--bs-white);
}
.blog-card .blog-detail {
  -webkit-border-radius: 0 0 0.75rem 0.75rem;
          border-radius: 0 0 0.75rem 0.75rem;
}
.blog-card .blog-detail .blog-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--bs-gray-800);
  margin-bottom: 0.5rem;
}
.blog-card .blog-detail .blog-list li:last-child {
  margin-bottom: 0;
}

.review-card {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  border: 1px solid rgba(31, 41, 55, 0);
}
.review-card .quotes-icon {
  position: absolute;
  top: 1rem;
  left: auto;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--bs-info-bg-subtle);
}

.slick-dots {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}
.slick-dots li button {
  background: transparent;
  border: 0;
  padding: 6px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: var(--bs-body-bg);
  -webkit-transition: background-color 0.22s ease, opacity 0.22s ease, -webkit-transform 0.22s ease;
  transition: background-color 0.22s ease, opacity 0.22s ease, -webkit-transform 0.22s ease;
  -o-transition: transform 0.22s ease, background-color 0.22s ease, opacity 0.22s ease;
  transition: transform 0.22s ease, background-color 0.22s ease, opacity 0.22s ease;
  transition: transform 0.22s ease, background-color 0.22s ease, opacity 0.22s ease, -webkit-transform 0.22s ease;
  opacity: 1;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), color-stop(100%, var(--bs-gray-600)), color-stop(50%, var(--bs-gray-600)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  background-image: -o-linear-gradient(left, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  background-image: linear-gradient(to right, var(--bs-primary) 0%, var(--bs-gray-600) 100%, var(--bs-gray-600) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slick-dots li.slick-active button:before {
  background: var(--bs-primary);
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  opacity: 1;
}
@media (max-width: 480px) {
  .slick-dots {
    padding-top: 8px;
  }
  .slick-dots li button:before {
    width: 8px;
    height: 8px;
  }
}

.pricing-card {
  position: relative;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  height: 100%;
}
.pricing-card.active {
  border: 2px solid var(--bs-primary);
}
.pricing-card.active .most-popular {
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#3b82f6), to(var(--bs-primary)));
  background-image: -webkit-linear-gradient(left, #3b82f6, var(--bs-primary));
  background-image: -o-linear-gradient(left, #3b82f6, var(--bs-primary));
  background-image: linear-gradient(to right, #3b82f6, var(--bs-primary));
  color: var(--bs-white);
  padding: 0.5rem 1rem;
  -webkit-border-radius: var(--bs-border-radius-pill);
          border-radius: var(--bs-border-radius-pill);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.pricing-card .pricing-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--bs-gray-800);
}
.pricing-card .pricing-list li:last-child {
  margin-bottom: 0;
}
.pricing-card .pricing-list li.disable {
  color: var(--bs-gray-200);
}

.industries-Serve-container .col:nth-child(odd) .pricing-card {
  margin-top: 1rem;
}

@media (max-width: 767.98px) {
  .industries-Serve-container .col:nth-child(odd) .pricing-card {
    margin-top: 0;
  }
}
body.navbar-expanded .chat-bot-banner,
body.offcanvas-open .chat-bot-banner {
  z-index: -1;
}

.chat-bot-banner {
  background-color: var(--bs-gray-900);
  padding: 150px 0;
}
.chat-bot-banner .img-1 {
  top: 30%;
  left: 7%;
  z-index: 1;
}
.chat-bot-banner .img-2 {
  top: 13%;
  left: 78%;
  z-index: 1;
}
.chat-bot-banner .img-3 {
  top: 10%;
  left: 25%;
}
.chat-bot-banner .img-4 {
  top: 58%;
  left: 74%;
}
.chat-bot-banner .img-5 {
  top: 53%;
  left: -1%;
}
.chat-bot-banner .img-6 {
  top: 52%;
  right: -2%;
  z-index: 0;
}
.chat-bot-banner .img-7 {
  top: 6%;
  left: 41%;
}
.chat-bot-banner .img-8 {
  top: 75%;
  left: 25%;
}
.chat-bot-banner .img-9 {
  top: 95%;
  left: 36%;
}

@media (max-width: 992px) {
  .chat-bot-banner {
    padding: 50px 0 50px 0;
  }
  .chat-bot-banner .img-1,
  .chat-bot-banner .img-2,
  .chat-bot-banner .img-3,
  .chat-bot-banner .img-4 {
    display: none;
  }
}