{{!-- Back-To-Top --}}
<div id="back-to-top" >
   <a class="m-0 lh-2 position-fixed top border-0 avatar-50 text-center" id="top" href="#top">
      <i class="ph ph-caret-up"></i>
   </a>
</div>
{{!-- End Back-To-Top --}}