{{#extend 'layouts/default' title="contact" isHeader="true" active="contact" path="./" }}
{{#content "content"}}
<div class="section-padding">
    <div class="container">
        <div class="section-title text-center">
            <span class="decorator-title decorator-font text-primary text-uppercase text-decoration-underline">Follow
                Our Work</span>
                 <h5 class="mt-2 title">Connect With Us & Capture Your Story</h5>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4">
            <div class="col">
                <a href="https://wa.me/message/LEY5GTASPWF7I1" target="_blank" class="d-block h-100">
                    <span href="https://wa.me/message/LEY5GTASPWF7I1" target="_blank"
                        class="d-block bg-gray-900 border p-4 rounded d-flex gap-3 flex-column h-100">
                        <span class="h2 m-0  cursor-pointer"><i class="ph ph-whatsapp-logo text-white"></i></span>
                        <span class="social-info d-flex gap-2 flex-column">
                            <span>
                                <h6>WhatsApp</h6>
                                <span>Marvel Creation</span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col">
                <a href="https://www.instagram.com/marvelcreation.in/" target="_blank" class="d-block h-100">
                    <span class="bg-gray-900 border p-4 rounded d-flex gap-3 flex-column">
                        <span class="h2 m-0 cursor-pointer"><i class="ph ph-instagram-logo text-white"></i></span>
                        <span class="social-info d-flex gap-2 flex-column">
                            <span>
                                <h6>Instagram</h6>
                                <span>@marvelcreation.in/</span>
                            </span>
                            <span class="social-followers">
                                <span class="text-white">Followers: 3k</span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col">
                <a href="https://www.facebook.com/marvelcreation.in/" class="d-block h-100" target="_blank">
                <span class="bg-gray-900 border p-4 rounded d-flex gap-3 flex-column">
                    <span class="h2 m-0 cursor-pointer"><i class="ph ph-facebook-logo text-white"></i></span>
                    <span class="social-info d-flex gap-2 flex-column">
                        <span>
                            <h6>Facebook</h6>
                            <span>Marvel Creation </span>
                        </span>
                        <span class="social-followers">
                            <span class="text-white">Followers: 81</span>
                        </span>
                    </span>
                </span>
                </a>
            </div>
            <div class="col">
                <a href="https://www.youtube.com/@marvelcreationin" class="d-block h-100" target="_blank">
                <span class="bg-gray-900 border p-4 rounded d-flex gap-3 flex-column">
                    <span class="h2 m-0  cursor-pointer"><i class="ph ph-youtube-logo text-white"></i></span>
                    <span class="social-info d-flex gap-2 flex-column">
                        <span>
                            <h6>YouTube</h6>
                           <span>@marvelcreationin</span>
                        </span>
                        <span class="social-followers">
                            <span class="text-white">Followers: 393</span>
                        </span>
                    </span>
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section-padding pt-0">
    <div class="leave-section">
        <div class="container">
            <div class="section-title text-center">
                <span class="decorator-title decorator-font text-primary text-uppercase text-decoration-underline">Let's
                    Connect</span>
                <h5 class="mt-2 title">Ready to capture your story? We'd love to hear about your vision and discuss how we
                    </br>can bring it to life through photography.</h5>
            </div>
            <div class="row gy-4">
                <div class="col-md-7 col-lg-8">
                    <div class="bg-gray-900 p-3 p-md-4 rounded">
                        <div class="mb-5">
                            <h4>Leave A Reply</h4>
                            <p class="font-size-14">Your email address will not be published. Required fields are
                                marked*</p>
                        </div>
                        <form>

                            <div class="row gy-4">
                                <div class="col-lg-6">
                                    <label class="form-label">Name<span class="text-danger">*</span></label>
                                    <div class="input-group custom-input-group">
                                        <input type="text" name="name" class="form-control"
                                            placeholder="Enter your name">
                                        <span class="input-group-text"><i class="ph ph-user"></i></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="form-label">Email <span class="text-danger">*</span></label>
                                    <div class="input-group custom-input-group">
                                        <input type="text" name="email" class="form-control"
                                            placeholder="Enter your email">
                                        <span class="input-group-text"><i class="ph ph-envelope"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">Subject <span class="text-danger">*</span></label>
                                    <input type="text" name="subject" class="form-control" placeholder="Enter subject">
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">Comment <span class="text-danger">*</span></label>
                                    <textarea name="message" class="form-control" rows="5"
                                        placeholder="Enter your comment"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="row gy-5">
                        <div class="col-12">
                            <div class="bg-gray-900 border rounded p-3 d-flex gap-3 flex-column h-100">
                                <div class="d-flex align-items-center gap-4 mb-3">
                                    <div
                                        class="icon-box d-flex align-items-center justify-content-center bg-secondary-subtle avatar-80 rounded">
                                        <i class="ph ph-envelope text-white h3 m-0"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h6 class="mb-1">Call Now</h6>
                                        <a href="tel:+91 9408828700" class="text-white">+91 9408828700</a>
                                        <span class="font-size-12 d-block text-white">Mon - Fri, 9AM - 6PM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-gray-900 border rounded p-3 d-flex gap-3 flex-column h-100">
                                <div class="d-flex align-items-center gap-4 mb-3">
                                    <div
                                        class="icon-box d-flex align-items-center justify-content-center bg-secondary-subtle avatar-80 rounded">
                                        <i class="ph ph-whatsapp-logo text-white h3 m-0"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h6 class="mb-1">Chat with Us</h6>
                                        <a href="https://wa.me/message/LEY5GTASPWF7I1" class="text-white">+91 9408828700</a>
</a>
                                        <span class="font-size-12 d-block text-white">We respond within 24 hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-gray-900 border rounded p-3 d-flex gap-3 flex-column h-100">
                                <div class="d-flex align-items-center gap-4 mb-3">
                                    <div
                                        class="icon-box d-flex align-items-center justify-content-center bg-secondary-subtle avatar-80 rounded">
                                        <i class="ph ph-map-pin text-white h3 m-0"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h6 class="mb-1">Visit Studio</h6>
                                        <a href="https://maps.app.goo.gl/gRncKCc9arAY29yP7" class="text-white">
                                            <span class="font-size-12 d-block text-white">Ghej Vaghaldhara Road, Ta.Chikhli,
                                                Dist.Navsari, Gujarat-396521</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="map">
    <div class="container-fluid p-0">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.535927577359!2d73.04763!3d20.688451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0eb264b07d97f%3A0x34c19fb400e01f96!2sMarvel%20Creation!5e0!3m2!1sen!2sin!4v1756924713348!5m2!1sen!2sin"
            class="w-100" height="500" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{{/content}}
{{/extend}}