<!-- ================= Banner Slider ================= -->
<div class="overflow-hidden">
  <div class="main-banner">
    <div class="slick-banner main-slider">
      <!-- Banner 1 -->
      <div class="slick-item banner-bg m-0" style="background-image: url({{path}}assets/images/media/banner.jpg);">
        <div class="container-fluid position-relative">
          <div class="row align-items-center h-100 content-full-height gy-4">
            <div class="col-lg-6 col-md-12 col-xl-5">
              <h2 class="text-white letter-spacing-1 text-capitalize">Krishna</h2>
              <p class="my-3">In the vibrant land of Vrindavan, Krishna: Portrait unfolds...</p>
              <div class="trending-list">
                <div class="text-primary tag font-size-14 mb-1">Tags:
                  <a href="#" class="fw-normal text-decoration-none text-body">Pre Wedding,</a>
                  <a href="#" class="fw-normal text-decoration-none text-body">Couple,</a>
                  <a href="#" class="fw-normal text-decoration-none text-body">Adventure,</a>
                  <a href="#" class="fw-normal text-decoration-none text-body">Romance</a>
                </div>
              </div>
              <a href="https://wa.me/message/LEY5GTASPWF7I1" class="btn btn-primary">Book Now</a>
            </div>

            <div class="col-xl-7 col-lg-6 col-md-12 creatiix-trailor-video">
              <a data-fslightbox="html5-video" href="https://www.youtube.com/watch?v=rLgy3eDsi-0"
                class="video-open playbtn text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 213.7 213.7">
                  <polygon class="triangle" fill="none" stroke-width="7" points="73.5,62.5 148.5,105.8 73.5,149.1">
                  </polygon>
                  <circle class="circle" fill="none" stroke-width="7" cx="106.8" cy="106.8" r="103.3"></circle>
                </svg>
                <span class="w-trailor text-uppercase">Watch Trailer</span>
              </a>
              <video id="my-video" class="my-video video-js vjs-big-play-centered w-100 d-none" loop autoplay
                preload="auto" data-setup='{
                         "techOrder": ["youtube"],
                         "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=rLgy3eDsi-0" }],
                         "youtube": { "modestbranding": 1, "rel": 0, "autoplay": 1 },
                         "fullscreen": true
                       }'>
              </video>
            </div>
          </div>
        </div>
      </div>

      <!-- Add more banners here if needed -->

    </div>
  </div>
</div>
<!-- ================= /Banner Slider ================= -->