 <a href="{{path}}assets/images/{{photography-img}}" data-fslightbox="gallery">
                        <img class="masonry__item" src="{{path}}assets/images/{{photography-img}}" alt="placeholder">
                    </a>