<div class="col">
    <div class="p-5 section-bg d-flex align-items-center flex-column gap-lg-4 gap-3 service-card">
        <div class="service-icon avatar-64 {{bg_class}}">
            <i class="ph {{icon_name}}"></i>
        </div>
        <div class="service-info text-center">
            <h3 class="service-title mb-3 fw-bold">{{title}}</h3>
            <p class="service-description">{{description}}</p>
        </div>
    </div>
</div>