.custom-accordion {
    background-color: var(--bs-body-bg);
    padding: 30px 35px;
    margin-bottom: 30px;
    border-radius: 1rem !important;

    &:last-child {
        margin-bottom: 0;
    }

    .faq-btn {
        border: 0;
        background: inherit;
        font-size: 1.3rem;
        font-weight: 700;

        &::after {
            content: '+';
            font-size: 1.5rem;
            color: var(--bs-primary);
            line-height: 1;
            text-align: center;
            border-radius: 50%;
            background-image: none;
            transition: transform 0.3s ease-in-out;
        }

        &:not(.collapsed) {
            background: inherit;
            box-shadow: none;
            font-size: 1.3rem;
            font-weight: 700;

            &::after {
                transform: rotate(45deg);
            }
        }

    }
}

@include media-breakpoint-down(md) {
    .custom-accordion {
        padding: 16px;

        .faq-btn {
            font-size: 1rem;

            &:not(.collapsed) {
                font-size: 1rem;
            }
        }
    }
}